@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Special+Elite&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1600px;
    overflow-x: hidden;
}

/* ----------------------------Top of Page Button---------------------------- */

#to-top-page {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    background-color: #252525;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
}

#to-top-page i {
    color: white;
}

/* ----------------------------Navigation---------------------------- */

.nav-container {
    background-color: white;
}

.nav-container::after {
    content: '';
    display: table;
    clear: both;
}

.nav-bar {
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 75px;
    height: auto;
    padding: 10px 0;
}

.nav-link-container {
    float: right;
    margin-bottom: 25px;
}

.nav-link-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link-container ul li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
    position: relative;
}

.nav-link-container ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-link-container ul li a:hover {
    font-weight: bold;
    color: #000;
}

.nav-selected-link {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 5px;
    font-weight: bold;
    color: #000;
}

#nav-contact-link {
    background-color: #e6bd43;
    padding: 10px;
    font-weight: bold;
    color: black;
}

#nav-contact-link:hover {
    background-color: #252525;
    color: #e6bd43;
}

/* ----------------------------Main---------------------------- */

main {
    flex-grow: 1;
}

#section1 img {
    display: none;
}

#front-page-video {
    width: 100%;
    height: 350px;
    position: absolute;
    object-fit: cover;
}

.video-text {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: auto;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
}

.video-text h1 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    font-weight: 700;
    margin: 0;
}

.video-text p {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: calc(11px + 6 * ((100vw - 320px) / 680));
}

#sec1-read-more-btn {
    text-decoration: none;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
    font-weight: 700;
    padding: 10px; 
    border: none;
    background: #e6bd43;
    color: black;
    cursor: pointer;
}

#sec1-read-more-btn:hover {
    background: #252525;
    color: #e6bd43;
}

.subhead-text {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.subhead-text h1 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.subhead-text p {
    padding: 20px;
}

.front-about-text {
    display: flex;
    background-color: #e6bd43;
}

.front-about-text img {
    align-self: center;
    max-width: 90%;
    height: auto;
    padding: 30px;
}

.text-btn {
    padding: 20px;
}

.front-about-text h4 {
    font-weight: 600;
}

#sec3-read-more-btn {
    text-decoration: none;
    width: 200px;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 10px; 
    border: 2px solid black;
    background: #e6bd43;
    color: black;
    cursor: pointer;
}

#sec3-read-more-btn:hover {
    background: #252525;
    color: #e6bd43;
}

.our-services-section {
    text-align: center;
}

.our-services-section h1 {
    padding: 40px 0;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.service {
    text-align: center;
    width: 200px;
}

.service i {
    font-size: 25px;
}

.service h4 {
    font-size: 0.8rem;
    margin: 5px;
}

.service p {
    font-size: 0.7rem;
}

.sign-up-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(246, 244, 244);
}

.sign-up-newsletter input {
    width: 200px;
    padding: 10px;
    border: none;
}

.sign-up-newsletter button {
    width: 100px;
    font-weight: 700;
    padding: 10px; 
    background: #e6bd43;
    color: black;
    cursor: pointer;
    border: none;
}

.sign-up-newsletter button:hover {
    background: #252525;
    color: #e6bd43;
}

/* ---------------Portfolio--------------- */

.portfolio-section {
    margin-inline: 20px;
}

#portfolio-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: absolute;
}

.portfolio-banner-text h1 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    font-weight: 700;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: auto;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* ------Explore------ */

#explore-previous-jobs h2 {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 10px;
    font-weight: 900;
    color: black;
}

#explore-previous-jobs nav ul {
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
    list-style: none;
    padding: 25px 0; 
}

#explore-previous-jobs nav ul li{
    margin-block: 10px;
}

#explore-previous-jobs nav ul li a {
    text-decoration: none;
    font-size: 0.7rem;
    padding: 8px; 
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

#explore-previous-jobs nav a:hover {
    background: #252525;
    color: #e6bd43;
    font-weight: bold;
}

/* ------Branding------ */

#portfolio-branding h2 {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 10px;
    font-weight: 900;
    color: black;
}

#branding-images {
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto; 
    gap: 20px; 
    row-gap: 35px;
}

.image-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    max-width: 692px;
}

.image-container img {
    width: 100%; 
    height: auto; 
}

.image-container:hover {
    transform: scale(1.05); 
}

.image-title {
    margin-top: 10px; 
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
}

#last-image {
    grid-column: span 3;
}

/* ------Design------ */

#portfolio-design h2 {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 10px;
    font-weight: 900;
    color: black;
}

#design-images {
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px; 
    row-gap: 35px;
}

/* ------Development------ */

#portfolio-dev h2 {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 10px;
    font-weight: 900;
    color: black;
}

#dev-images {
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto auto;
    gap: 40px; 
    row-gap: 35px;
}

/* ---------------About--------------- */

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.text-box {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 40%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    max-height: 70%;
    height: 65%;
    min-width: 230px; 
}

.text-box h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-block: 10px;
}

.text-box p {
    margin: 0 0 30px 0;
    font-size: 0.6em;
}

#get-in-touch-btn {
    background-color: #e6bd43;
    color: black;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

#get-in-touch-btn:hover {
    background-color: #252525;
    color: #e6bd43;
}

/* ------Clients------ */

.our-clients {
    text-align: center;
    background-color: #e6bd43;
    padding: 30px;
}

.our-clients h1 {
    font-weight: 900;
    padding-bottom: 20px;
}

.clients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}

.clients img {
    width: 110px;
    height: auto;
}

/* ------Contact------ */

#contact-section {
    background-color: rgb(246, 244, 244);
}

#contact-section h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 2rem;
}

#form-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

#contact-form-container {
    max-width: 500px;
    padding: 10px;
}

#contact-info {
    max-width: 500px;
    padding: 10px;
    font-style: normal;
}

#info {
    padding: 0;
}

#info li {
    list-style: none;
    margin-block: 10px;
    display: flex;
    gap: 10px;
}

input[type=text], textarea {
    border-style: none;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #e6bd43;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #252525;
    color: #e6bd43;
}

#phone-number {
    text-decoration: none;
    color: black;
}

/* ------Map------ */

#map iframe {
    height: 400px;
    width: 100%;
    border: none;
}
/* ----------------------------Footer---------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.footer-logo {
    margin: 6px;
}

.footer-logo img {
    width: 60px;
    height: auto;
}

.footer-social {
    float: right;
    margin-bottom: 25px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social a {
    margin-left: 10px;
}

.footer-social li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
    position: relative;
}

.footer-social a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-social i {
    width: 15px; 
    height: auto;
    color: white;
    font-size: 25px;
}

/* ----------------------------Responsive---------------------------- */

/* ----------Top-page---------- */
@media (min-width: 1600px) {
    #to-top-page {
        right: calc((100vw - 1600px) / 1 + 50px);
    }
}

@media (any-hover: none) and (any-pointer: coarse) {
    
    .nav-link-container ul li a:hover {
        color: #444;
        font-weight: normal;
    }

    #explore-previous-jobs nav a:hover {
        background: none;
        color: black;
        font-weight: normal;
    }

    .image-container:hover {
        transform: scale(1); 
    }

    #sec1-read-more-btn:hover,
    #sec3-read-more-btn:hover,
    .sign-up-newsletter button:hover,
    #nav-contact-link:hover {
        background-color: none;
        color: black;
    }

    input[type=submit]:hover {
        background-color: none;
        color: black;
    }

    #get-in-touch-btn:hover {
        background-color: none;
        color: black;
    }
}

@media screen and (max-width: 700px) {
    .front-about-text {
        flex-wrap: wrap;
        justify-content: center;
        }
}

@media screen and (max-width: 480px) {

/* ------------Navbar------------ */

    .nav-bar {
        text-align: center;
    }

    .logo {
        float: none;
    }

    .nav-link-container {
        float: none;
    }

    .nav-link-container ul li {
        display: block;
        margin: 0;
    }

    .nav-link-container ul li a {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #nav-contact-link {
        margin-top: 10px;
    }

/* ------------Main------------ */


    #front-page-video {
        display: none;
    }

    #section1 {
        position: relative;
    }

    #section1 h1 {
        margin: 10px;
    }

    #section1 img {
        display: block;
        width: 100%;
        height: 350px;
        position: absolute;
        object-fit: cover;
    }

    .subhead-text h1, .subhead-text p {
        margin-top: 0;
        margin-bottom: 0;
    }

    #branding-images, 
    #design-images,
    #dev-images {
        margin-block: 15px;
        grid-template-columns: 1fr;
    }

/* ------------Footer------------ */

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo, .footer-text, .footer-social {
        margin-bottom: 10px;
    }

    .footer-social a {
        margin: 0 5px;
    }

}

@media screen and (max-width: 250px) {
    
    #section1 img {
        height: 400px;
    }

    .video-text {
        height: 400px;
    }
}

