@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Special+Elite&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

/* ----------------------------Top of Page Button---------------------------- */

#to-top-page {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
}

#to-top-page i {
    color: white;
}

/* ----------------------------Navigation---------------------------- */

.nav-container {
    background-color: white;
}

.nav-container::after {
    content: '';
    display: table;
    clear: both;
}

.nav-bar {
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 75px;
    height: auto;
    padding: 10px 0;
}

nav {
    float: right;
    margin-bottom: 25px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
    position: relative;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a:hover {
    color: #000;
}

.nav-selected-link {
    border-bottom: 2px solid #e6bd43;
    padding-bottom: 5px;
    font-weight: bold;
    color: #000;
}

#nav-contact-link {
    background-color: #e6bd43;
    padding: 10px;
    font-weight: bold;
    color: black;
}

#nav-contact-link:hover {
    background-color: black;
    color: #e6bd43;
}

/* ----------------------------Main---------------------------- */

main {
    flex-grow: 1;
}

#section1 img {
    display: none;
}

#front-page-video {
    width: 100%;
    height: 350px;
    position: absolute;
    object-fit: cover;
}

.video-text {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: auto;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
}

.video-text h1 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    font-weight: 700;
}

.video-text p {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
}

#sec1-read-more-btn {
    font-weight: 700;
    padding: 10px; 
    border: none;
    background: #e6bd43;
    color: black;
    cursor: pointer;
}

#sec1-read-more-btn:hover {
    background: black;
    color: #e6bd43;
}

.subhead-text {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.subhead-text h1 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.subhead-text p {
    padding: 20px;
}

.front-about-text {
    display: flex;
    background-color: #e6bd43;
}

.front-about-text img {
    align-self: center;
    max-width: 100%;
    height: auto;
    padding: 30px;
}

.text-btn {
    padding: 20px;
}

.front-about-text h4 {
    font-weight: 600;
}

#sec3-read-more-btn {
    width: 200px;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 10px; 
    border: 2px solid black;
    background: #e6bd43;
    color: black;
    cursor: pointer;
}

#sec3-read-more-btn:hover {
    background: black;
    color: #e6bd43;
}

#section4 {
    text-align: center;
}

#section4 h1 {
    padding: 40px 0;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.service {
    text-align: center;
    width: 200px;
}

.service h4 {
    font-size: 0.8rem;
    margin: 5px;
}

.service p {
    font-size: 0.7rem;
}

.sign-up-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(234, 234, 234);
}

.sign-up-newsletter input {
    width: 200px;
    padding: 10px;
    border: none;
}

.sign-up-newsletter button {
    width: 100px;
    font-weight: 700;
    padding: 10px; 
    background: #e6bd43;
    color: black;
    cursor: pointer;
    border: none;
}

.sign-up-newsletter button:hover {
    background: black;
    color: #e6bd43;
}

/* ----------------------------Footer---------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.footer-logo {
    margin: 6px;
}

.footer-logo img {
    width: 60px;
    height: auto;
}

.footer-social a {
    margin-left: 10px;
}

.footer-social i {
    width: 15px; 
    height: auto;
    color: white;
    font-size: 25px;
}

/* ----------------------------Responsive---------------------------- */

@media (any-hover: none) and (any-pointer: coarse) {
    
    nav ul li a:hover {
        color: #444;
    }

    #nav-contact-link:hover {
        background-color: none;
        color: black;
    }
    
    #sec1-read-more-btn:hover {
        background: none;
        color: black;
    }

    #sec3-read-more-btn:hover {
        background: none;
        color: black;
    }

    .sign-up-newsletter button:hover {
        background: none;
        color: black;
    }
}

@media screen and (max-width: 700px) {
    .front-about-text {
        flex-wrap: wrap;
        justify-content: center;
        }
}

@media screen and (max-width: 480px) {

/* ------------Navbar------------ */

    .nav-bar {
        text-align: center;
    }

    .logo {
        float: none;
    }

    .nav-link-container {
        float: none;
    }

    .nav-link-container ul li {
        display: block;
        margin: 0;
    }

    .nav-link-container ul li a {
        padding: 10px;
    }

    #nav-contact-link {
        margin-top: 10px;
    }

/* ------------Main------------ */


    #front-page-video {
        display: none;
    }

    #section1 {
        position: relative;
    }

    #section1 h1 {
        margin: 10px;
    }

    #section1 img {
        display: block;
        width: 100%;
        height: 350px;
        position: absolute;
        object-fit: cover;
    }

    .subhead-text h1, .subhead-text p {
        margin-top: 0;
        margin-bottom: 0;
    }

/* ------------Footer------------ */

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo, .footer-text, .footer-social {
        margin-bottom: 10px;
    }

    .footer-social a {
        margin: 0 5px;
    }

}

@media screen and (max-width: 250px) {
    
    #section1 img {
        height: 400px;
    }

    .video-text {
        height: 400px;
    }
}
